.page-inner {
    max-width: 1000px;
}

.custom-link {
    display: none !important;
}

.book-summary > nav > ul > li.chapter > ul > li > span {
    color: #9E9E9E;
}

.book-summary ul.summary li.active>a {
    font-weight: bold;
}

.navigation {
	display: none !important;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky + tbody {
  padding-top: 73px;
}

.tg > tbody > tr> td > a {
    font-weight: bold;
}

.tg {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#ccc;
}
.tg td {
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#fff;
  text-align:center;
}
.tg thead tr:nth-child(1) td {
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:bold;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#f0f0f0;
  text-align:center;
}
