.md-grid {
    max-width: 71rem;
}

.md-sidebar--secondary {
    margin-left: 71rem;
}

.page-inner {
    max-width: 1000px;
}

.custom-link {
    display: none !important;
}

.book-summary > nav > ul > li.chapter > ul > li > span {
    color: #9E9E9E;
}

.book-summary ul.summary li.active>a {
    font-weight: bold;
}

.navigation {
	display: none !important;
}

.md-content__icon {
  display: none !important;
}

.sticky {
  position: fixed;
  top: 53px;
}

.sticky + tbody {
  padding-top: 73px;
}

.tg > tbody > tr> td > a {
    font-weight: bold;
    text-decoration: none;
}

.tg > tbody > tr> td > a:hover {
    text-decoration: none;
}

.tg {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#ccc;
}
.tg td {
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:5px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#fff;
  text-align:center;
  vertical-align:middle;
}
.tg thead tr:nth-child(1) td {
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:bold;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#f0f0f0;
  text-align:center;
}

.label-HDFS {
    background-color: #468dbd
}

.label-HBase {
    background-color: #d9534f;
}

.label-Phoenix {
    background-color: #d9534f;
}

.label-Hive {
    background-color: #5cb85c;
}

.label-Spark, .label-Spark2x, .label-SparkR, .label-pySpark, .label-SparkSQL {
    background-color: #e77215e3;
}

.label-Kafka {
    background-color: #000000;
}

.label-MapReduce {
    background-color: #468dbd
}

.label-Flume {
    background-color: #36b6dcc2;
}

.label-Redis {
    background-color: #a51f16;
}

.label-Yarn {
    background-color: #468dbd;
}

.label-ElasticSearch {
    background-color: #7D26CD;
}

.label-FTP-Server {
    background-color: #908c029e;
}

.label-OS {
    background-color: #31697973;
}

.label-GaussDB, .label-ELK{
    background-color: #336791;
}

.label-Solr{
    background-color: #e8c74d;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
